<div>
    <ul class="posts">
        {% for post in result %}
            <li class="post">
                <div class="post-thumbnail"><a href="{{ url_for('.user', username=post.username) }}"><img class="img-rounded profile-thumbnail" src="{{ avatars.gravatar(post.email_hash,size='40') }}"></a></div>
                <div class="post-content">
                    <div class="post-author"><a href="{{ url_for('.user',username = post.username) }}">{{ post.username }}</a></div>
                    <div class="post-body">
                        <small>{{ post.age }}岁 {{ post.gender }}</small>
                    </div>
                    <div class="post-body"> {{ post.location }}</div>
                    <div class="post-body"> {{ post.about_me }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>