{% extends "manage/base.html" %}

{% block right_content %}
    <div class="col-md-12">
        <form method="post">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="select" class="input">Select table</label>
                    <select class="form-control" id="tables">
                        {% for table in tables %}
                            <option>{{ table }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <a id="down">
                    <input type="button" class="btn btn-sm btn-primary" value="Download">
                </a>
                {#  <input type="button" class="btn btn-sm btn-success" id="desc" value="Describe Table">   #}
                <button class="btn btn-sm btn-success" id="desc">Describe Table</button>
                <button class="btn btn-sm btn-danger" id="preview">Preview Data</button>
                <a href="https://www.baidu.com/">
                    <input type="button" value="点我跳转到度娘！">
                </a>
            </div>
        </form>

        <aside>
            <h1>Why Fruit is Healthy</h1>
            Here are three reasons.
            <ol>
                <li>Fruit contains lots of vitamins</li>
                <li>Fruit is a source of fibre</li>
                <li>Fruit contains few calories</li>
            </ol>
        </aside>
        <code>var fruits = ["aooles", "orange", "mangoes"];<br>
            document.writeln("I like " + fruits.length + " fruits");
        </code>
        <p>game over!</p>
        <input id="fat-btn" class="btn btn-default" type="button" value='Download' οnclick="data:text/txt;charset=utf-8,测试下载纯文本">

        <button class="btn"><a href="data:text/txt;charset=utf-8,测试下载纯文本" download="测试.txt">下载1</a></button>

        <details>
            <summary>Contents</summary>
            This is a nav.
            <ul>
                <li>upload</li>
                <li>download</li>
            </ul>
        </details>
    </div>
{% endblock %}

{% block script %}
    <script>
        const select = document.getElementById("tables");
        const down = document.getElementById("down");
        down.setAttribute("href", "/manage/download_flow/" + select.value);

        select.onchange = function () {
            down.setAttribute("href", "/manage/download_flow/" + select.value);
        }

        const desc = document.getElementById("desc");
        desc.onclick = function () {
            window.alert("desc table " + select.value);
        }
    </script>
{% endblock %}