{% extends "manage/base.html" %}

{% block manage %}
    <dl>
        <dt>Apple</dt>
        <dd>The aaa</dd>
        <dd>The bbb</dd>
        <dt>Banana</dt>
        <dd>The aaa</dd>
        <dd>The bbb</dd>
        <dt>Oracle</dt>
        <dd>hongse</dd>
    </dl>
    <figure>
        <figcaptionListing 23. Using the code element></figcaptionListing>
        <code>var fruits = ["aooles", "orange", "mangoes"];<br>
            document.writeln("I like " + fruits.length + " fruits");
        </code>
    </figure>
    <br>
    <aside>
        <h1>Why Fruit is Healthy</h1>
        Here are three reasons.
        <ol>
            <li>Fruit contains lots of vitamins</li>
            <li>Fruit is a source of fibre</li>
            <li>Fruit contains few calories</li>
        </ol>
    </aside>
    <code>var fruits = ["aooles", "orange", "mangoes"];<br>
        document.writeln("I like " + fruits.length + " fruits");
    </code>
    <p>game over!</p>
    <details>
        <summary>Contents</summary>
        This is a nav.
        <ul>
            <li>upload</li>
            <li>download</li>
        </ul>
    </details>
{% endblock %}