[[source]]
name = "pypi"
# url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask = "*"
pandas = "*"
requests = "*"
arrow = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-mail = "*"
flask-login = "*"
flask-socketio = "*"
flask-avatars = "*"
psutil = "*"
gunicorn = "*"
# uwsgi = "*"
tornado = "*"
mysql-connector = "*"
openpyxl = "*"
flask-restful = "*"
flask-httpauth = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
