<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>{{ config.APP_NAME }}{% block title %}{% endblock %}</title>

    <!--web Site ico-->
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">

    {#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">    #}
    {# 引用尽量不要使用url_for，url_for会造成请求响应? #}

    <!-- Source js -->
    <script src="../static/app.js"></script>
    <script src="../static/lib/js/jquery-3.4.1.js"></script>
    <script src="../static/lib/js/moment.min.js"></script>
    <script src="../static/lib/js/js.cookie.js"></script>
    <script src="../static/lib/bootstrap-3.3.7/js/bootstrap.js"></script>

    <!-- Source CSS-->
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="../static/lib/bootstrap-3.3.7/css/bootstrap.css">

    {% block link %}{% endblock %}
    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
<div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><b>{{ config.APP_NAME }}</b></a>
            </div>
            <div class="navbar-collapse collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.maze',username=current_user.username) }}">Maze</a></li>
                        <li><a href="{{ url_for('main.user',username=current_user.username) }}">Profile</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('main.client') }}">Client</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.faq') }}">FAQ</a></li>
                        <li><a href="{{ url_for('manage.index') }}">MANAGE</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ avatars.gravatar(current_user.email_hash, size='18') }}">
                                {{ current_user.username }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('auth.change_password') }}">
                                    <small>Change Password</small>
                                </a></li>
                                <li><a href="{{ url_for('auth.reset_password') }}">
                                    <small>Reset Password</small>
                                </a></li>
                                <li><a href="{{ url_for('auth.change_email') }}">
                                    <small>Change Email</small>
                                </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}">
                                    <small>Log Out</small>
                                </a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <script>
        const lis = document.querySelectorAll("#menu > ul > li");
        for (let i = 0; i < lis.length; i++) {
            // firstChild有时候会返回文本内容等，所以强烈推荐使用firstElementChild
            if (lis[i].firstElementChild.getAttribute("href") === "{{ request.path }}") {
                lis[i].classList.add("active");
            }
        }
    </script>
</div>

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

<footer class="container-fluid" style="background-color: #333">
    <br/>
    <div class="container" style="color: white">
        <div class="col-md-3 col-md-push-1 pull-left">
            <h4>Hello from Secret.</h4>
            <h6>© 2019 AlienationX</h6>
        </div>
        <div class="col-md-7 col-md-pull-1 pull-right" style="font-size: small">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#">Support</a></li>
                <li><a href="#">Flower Me</a></li>
                <li><a href="#">Contact Me</a></li>
                <li><a href="#">License</a></li>
            </ul>
        </div>
    </div>
    <br/>
</footer>
<script>
    function footerFixed() {
        const footer = document.querySelector("footer");
        const contentHeight = document.body.scrollHeight;   // 网页正文全文高度
        const winHeight = window.innerHeight;               // 可视窗口高度，不包括浏览器顶部工具栏
        if (contentHeight < winHeight) {
            //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
            console.log("yes");
            console.log(footer)
            footer.classList.add("footer-fixed");
        } else {
            console.log("no");
        }
    }
    footerFixed();
</script>

{% block script %}{% endblock %}

</body>
</html>