{% extends "base.html" %}

{% block title %} - 迷宫里的秘密 {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello,
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
            {% else %}
                Stranger
            {% endif %}
        </h1>
        {% if current_user.last_login_time %}
            <p>You last login at <strong>{{ current_user.last_login_time }}</strong></p>
        {% else %}
            <p>Nice to meet you !</p>
        {% endif %}
    </div>
    {% if current_user.is_authenticated %}
        <form method="post">
            <div class="form-group">
                <label for="mind">What's on your mind?</label>
                <textarea class="form-control" rows="2" wrap="soft" id="mind" name="mind" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>
    {% endif %}


    <div class="post-tabs">
        <ul class="nav nav-tabs" id="nav">
            <li {% if session.is_followings==0 %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
            {% if current_user.is_authenticated %}
                <li {% if session.is_followings==1 %} class="active"{% endif %}><a href="{{ url_for('.show_followings') }}">Followers</a></li>
            {% endif %}
        </ul>
        {% include 'components/posts.html' %}
    </div>

    <div class="container">
        <br/>
        <p id="dt"></p>
        {#    a hour ago 类似这样的实时刷新的时间显示    #}
        <p id="dtHuman"></p>
    </div>
{% endblock %}

{% block script %}
    <script>
        const now = moment();
        document.getElementById("dt").innerHTML = "The local datetime is <strong>" + now.format("dddd, MMMM Do YYYY, h:mm:ss A") + "</strong>";

        function refreshTime() {
            document.getElementById("dtHuman").innerHTML = "Refresh at <strong>" + now.fromNow() + "</strong>";
        }

        refreshTime();
        // setTimeout("refreshTime()", 60000);   // 超时执行函数
        setInterval("refreshTime()", 60000);     // 每一分钟执行刷新函数
    </script>
{% endblock %}